* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

@font-face {
  font-family: Mulish-Regular;
  src: url("./assets/fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Mulish-Bold;
  src: url("./assets/fonts/Mulish-Bold.ttf");
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish-Regular";
  width: 100%;
}

/*--- MENU ---*/

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 9rem 9rem;
  grid-gap: 1rem;
  color: #626366;
}

.menu ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #e2e2e2;
}

.menu ul li img {
  width: 50%;
  padding: 0.7rem 0 0 0;
}

.menu ul li h2 {
  font-size: 0.5rem;
  width: 99%;
  text-align: center;
}

.menu button {
  background: none;
  border: none;
  color: #626366;
  font-size: 0.5rem;
  font-weight: 500;
  padding: 0 0 0.7rem 0;
}

.menu ul li button img {
  width: 10%;
}


/*--- FORM ---*/


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #626366;
  margin: 4rem 0;
}

.form input {
  border: 1px solid #e2e2e2;
  padding: .2rem 0;
}

.form label {
  font-size: .65rem;
  padding: 0 0 .4rem 0;
}

.form h1 {
  color: #626366;
  font-size: 1.875rem;
  margin: 0 0 2rem 0;
}

.dadospessoais {
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.form button {
  background: none;
  border: 1.2px solid #00aae2;
  color: #00aae2;
  font-family: Mulish-Bold;
  padding: .8rem 1.4rem;
  margin: 1.8rem 0;
}

.gridsize {
  display: flex;
}


/*--- FOOTER ---*/

.footer {
  background-color: #686868;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 100;
  display: flex;
}

.footer h1 {
  font-size: 0.6rem;
  font-weight: 500;
  margin: 0 0 0.55rem 0;
}

.footer ul li {
  padding: 0.4rem 0;
}

.contact {
  width: 26%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: #222222;
}

.products {
  background-color: #383838;
}

.products,
.about,
.support {
  width: 16%;
  font-weight: 100;
  padding: 3rem 0 3rem 0.8rem;
}

.support {
  width: 14%;
  background-color: #565656;
}

.attendance {
  width: 26%;
  background-color: #686868;
  font-weight: 100;
  padding: 3rem 0 3rem 0.8rem;
}

.attendance ul li {
  display: flex;
  flex-direction: column;
}
